.colored-icon-social-whatsapp-background {
	color					: transparent;
	background				: -webkit-linear-gradient(-89.66deg, rgb(37 211 102) 0%, rgb(7 94 84) 100%);
	-webkit-background-clip	: text;
	-webkit-text-fill-color	: transparent;
	z-index					: 2;
}
.colored-icon-social-whatsapp-phone {
	color	: #ffffff;
	z-index : 4;
}
.colored-icon-social-whatsapp-ring {
	color	: #ffffff;
	z-index : 3;
}
.colored-icon-social-whatsapp-shadow {
	color	: #b3b3b3;
	z-index : 1;
}