.colored-icon-social-ticktock-background {
	color	: #000000;
	z-index	: 1;
}
.colored-icon-social-ticktock-pink {
	color	: #ee1d52;
	z-index	: 1;
}
.colored-icon-social-ticktock-turquoise {
	color	: #69c9d0;
	z-index	: 1;
}
.colored-icon-social-ticktock-white {
	color	: #ffffff;
	z-index	: 1;
}